<!DOCTYPE html>
<html>
<head>
    <title>LOGIN</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
    span{
        display:table;
        margin:0 auto !important;
    }
    form{
        border-top: 20px;
        margin:0 auto !important;
        border-style: solid;
        border-width: 3px; 
        border-color: red green blue yellow;
        padding: 25px;
        width: 30%;
    }
    .h4{
        padding-bottom: 15px;
    }
    .no_account{   
        text-align: center;
    }
    </style>

</head>
<body>
<div class="container">
    <br>
    <form method="POST" action="login">
        <p class="h4 text-center mb-4">Sign in</p>

        <span>
        <label for="defaultFormLoginEmailEx" class="grey-text">Your username</label>
        <input type="username" id="defaultFormLoginEmailEx" name="username" class="form-control" >
        </span>
        <br>
         <span>
        <!-- Default input password -->
        <label for="defaultFormLoginPasswordEx" class="grey-text">Your password</label>
        <input type="password" id="defaultFormLoginPasswordEx" name="password" class="form-control">
        </span>
        <br>
        <div class="text-center mt-4">
            <button class="btn btn-indigo" type="submit">Login</button>
        </div>
        <br>
        {% if session.pop('login_error',None) %}
            <p class="no_account" style="color:red;">*Invalid username or password</p>
        {% endif %}

        <p class="no_account">Don't have an account? Register <a href="{{url_for('registration')}}">here</a>.</p>
    </form>
</div>
</body>
</html>