<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    span{
        display:table;
        margin:0 auto !important;
    }
    form{
        margin:0 auto !important;
        border-style: solid;
        border-width: 3px; 
        border-color: red green blue yellow;
        padding: 25px;
        width: 30%;
    }
    .h4{
        padding-bottom: 15px;
    }
    .have_account{   
        text-align: center;
    }
    </style>
</head>
<body>
<div class="container">
    <br>
    <form method="POST" action="registration">
        <p class="h4 text-center mb-4">Register yourself</p>

        <span>
        <label for="defaultFormLoginEmailEx" class="grey-text">Your first name</label>
        <input type="text" id="defaultFormLoginEmailEx" name="name" class="form-control" >
        </span>
        <br>

        <span>
        <label for="defaultFormLoginEmailEx" class="grey-text">Your email address</label>
        <input type="email" id="defaultFormLoginEmailEx" name="email" class="form-control" >
        </span>
        <br>

        <span>
        <label for="defaultFormLoginEmailEx" class="grey-text">Your age</label><br>
        <input type="number" id="defaultFormLoginEmailEx" name="age" min="1" class="form-control"><br>
        </span>
        <br>

        <span>
        <label for="defaultFormLoginEmailEx" class="grey-text">Your username</label>
        <input type="username" id="defaultFormLoginEmailEx" name="username" class="form-control" >
        </span>
        <br>

        <span>
        <label for="defaultFormLoginPasswordEx" class="grey-text">Your password</label>
        <input type="password" id="defaultFormLoginPasswordEx" name="password" class="form-control">
        </span>
        <br>

        <div class="text-center mt-4">
            <button class="btn btn-indigo" type="submit">Register</button>
        </div>
        <br>
        {% if register_error %}
            <p class="no_account" style="color:red; font-size: 12px;">{{ register_error }}</p>
        {% endif %}
        <p class="have_account">Already have an account? <a href="{{url_for('index')}}">Sign in</a>.</p>
    </form>
</div>
</body>
</html>